﻿@model IEnumerable<Questionnaires.Entities.Question>

@{
    ViewBag.Title = "Список вопросов";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить вопрос", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.QuestionId })
            </td>
        </tr>
    }

</table>
