﻿
<div id="wrapper">
    <h2 data-bind="text: QuestionText"></h2>
    <p>Напешите ответ и перейдите к следущему вопросу</p>



    <form id="quiz">
        @*<h2 data-bind="value: QuestionType"></h2>*@
        <label>
            <p data-bind="visible: TextInput"><input type="text" data-bind="value: QuestionAnswer" /></p>

            <p data-bind="visible: NumberInput"><input type="number" data-bind="value: QuestionAnswer" /></p>

            <p data-bind="visible: DateInput"><input type="date" data-bind="value: QuestionAnswer" /></p>

            @*<select data-bind="visible: Selectt,options: availableCountries,value: ValueSelect"></select>*@

            <p data-bind="visible: Selectt">
                <select id="projectMenu"
                        name="projectMenu"
                        data-bind="
                        value: valueAnswer,
                        options:        AnswerFamilyStatus,
                        optionsText:    'Name',
                        optionsValue:   'Id',
                        optionsCaption: '-- выберите семейное положение--'">

                </select>
                <p data-bind="Text: valueAnswer.Name"></p>
            </p>

            <input type="checkbox" data-bind="visible: cheboxInput, checked: checkedvals.is_checked" />



        </label><br />

        <label>
            <button data-bind="click: onPrev" style="margin:10px">Prev</button>
            <button data-bind="click: onNext" style="margin:10px">Next</button>
        </label><br />

        <button data-bind="click: onReply">Submit Your Answers</button>

    </form>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/Scripts/knockout-3.5.1.js"></script>

<script>
    function FamilyStatus(name, id) {
        this.Name = name;
        this.Id = id;
    }

    function QuestionsViewModel() {

        //Make the self as 'this' reference
        var self = this;
        //Declare observable which will be bind with UI
        self.Id = ko.observable("");
        self.QuestionText = ko.observable("");
        self.QuestionAnswer = ko.observable("");
        self.QuestionType = ko.observable("");

        self.Index = ko.observable(0);
        self.ValueSelect = ko.observable("");
        self.cheboxInput = ko.observable(false);

        self.AnswerFamilyStatus = ko.observableArray([
            new FamilyStatus("single", "Холост"),
            new FamilyStatus("married", "Женат"),
        ]);
        self.valueAnswer = {
            Name: ko.observable(""),
            Id: ko.observable(0)
        };

        self.checkedvals = {
            is_checked: ko.observable(true),
            is_checked_val: ko.observable("Yes")
        };

        self.checkedvals.is_checked.subscribe(function () {
            self.checkedvals.is_checked_val(self.checkedvals.is_checked() ? "Yes" : "No");
        });


        function SelectAnsver(type) {
            if (type === 'select') {
                var addSelect = self.valueAnswer;
                self.QuestionAnswer(addSelect);
            } else
            if (type === 'checkbox') {
                var addCheckbox = self.checkedvals.is_checked_val();
                self.QuestionAnswer(addCheckbox);
            }
        }


        self.TextInput = ko.observable(false);
        self.DateInput = ko.observable(false);
        self.NumberInput = ko.observable(false);
        self.Selectt = ko.observable(false);

        self.QuestionCollection = ko.observableArray(); // Contains the list of products

        $.ajax({
            type: "GET",
            url: "/Form/GetQuestions",
        }).done(function (data) {
            console.log(data);
            self.QuestionCollection(data);

            self.QuestionText(data[0].Text);
            self.QuestionType(data[0].Type);
            self.Index(0);

            SelectAnsver(data[0].Type)
            visible(data[0].Type)
        });

        function visible(type) {
            if (type === 'text') {
                self.TextInput(!self.TextInput());
                self.NumberInput(false);
                self.DateInput(false);
                self.Selectt(false);
                self.cheboxInput(false);
            }

            if (type === 'number') {
                self.TextInput(false);
                self.NumberInput(!self.NumberInput());
                self.DateInput(false);
                self.Selectt(false);
                self.cheboxInput(false);
            }

            if (type === 'date') {
                self.TextInput(false);
                self.NumberInput(false);
                self.DateInput(!self.DateInput());
                self.Selectt(false);
                self.cheboxInput(false);
            }
            if (type === 'select') {
                self.TextInput(false);
                self.NumberInput(false);
                self.DateInput(false);
                self.Selectt(!self.DateInput());
                self.cheboxInput(false);
            }
            if (type === 'checkbox') {
                self.TextInput(false);
                self.NumberInput(false);
                self.DateInput(false);
                self.Selectt(false);
                self.cheboxInput(!self.DateInput());
            }
        }

        self.onPrev = function () {
            if (self.Index() === 0)
                return;

            const index = self.Index();


            self.Index(index - 1);
            var prevQuestion = self.QuestionCollection()[index - 1];

            var currentQuestion = self.QuestionCollection()[index];
            SelectAnsver(currentQuestion.Type);
            currentQuestion.Answer = self.QuestionAnswer();
            //if (currentQuestion.Type != "checkbox" && currentQuestion.Type != "select")
            self.QuestionAnswer(prevQuestion.Answer);
            self.QuestionText(prevQuestion.Text);
            self.QuestionType(prevQuestion.Type)
            visible(prevQuestion.Type)

            SelectAnsver(prevQuestion.Type);
            console.log(prevQuestion);
        }

        self.onNext = function () {
            if (self.Index() + 1 === self.QuestionCollection().length)
                return;

            const index = self.Index();

            self.Index(index + 1);
            var nextQuestion = self.QuestionCollection()[index + 1];

            var currentQuestion = self.QuestionCollection()[index];
            SelectAnsver(currentQuestion.Type);
            //var test = self.QuestionAnswer().length;
            //if (self.QuestionAnswer().length > 0)
            currentQuestion.Answer = self.QuestionAnswer();

            self.QuestionAnswer(nextQuestion.Answer);
            self.QuestionText(nextQuestion.Text);
            self.QuestionType(nextQuestion.Type)
            visible(nextQuestion.Type)

            

            console.log(nextQuestion);
        }

        self.onReply = function () {
            const index = self.Index();
            self.QuestionCollection()
            var currentQuestion = self.QuestionCollection()[index];

            self.QuestionType(currentQuestion.Type);
            visible(currentQuestion.Type);
            SelectAnsver(currentQuestion.Type);
            currentQuestion.Answer = self.QuestionAnswer();
            var questions = self.QuestionCollection();
            var test = questions
                ($.ajax({
                    type: "POST",
                    contentType:"application/json;charset=utf-8",
                    url: "/Form/SaveAnswers",
                    data: ko.toJSON(questions)
                }).done(function (result) {
                    alert(result);
                }));
        }
    }

    var viewModel = new QuestionsViewModel();
    ko.applyBindings(viewModel);
</script>
